@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-poppins: Poppins;
  --font-inherit: inherit;
  --font-sansita-swashed: "Sansita Swashed";

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-base-9: 16.9px;
  --font-size-mini-5: 14.5px;
  --font-size-lgi: 19px;
  --font-size-mini: 15px;

  /* Colors */
  --color-moccasin: #fbdfaf;
  --color-black: #000;
  --color-brown: #ad2f3b;
  --color-white: #fff;

  /* Gaps */
  --gap-134xl: 153px;
  --gap-70xl: 89px;
  --gap-28xl: 47px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-9xl: 28px;
  --br-3xs: 10px;
  --br-xl: 20px;
}

.ourTeam {
    position: relative;
    font-size: 40px;
    align-self: center;
    
  }

  .sp1Icon
{
    position: relative;
    width: 276px;
    height: 423px;
    object-fit: cover;
    margin-left:19.125px;
   
    
   
  }
  .ad1Icon{
    height: 423.2px;
    
    
    
  }
  .yp1Icon {
    height: 423.14px;
  }
  .ourTeamParent,
  .sp1Parent {
    display: flex;
    align-items: center;
    
  }
  .sp1Parent {
    align-self: stretch;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-134xl);

  }
  .ourTeamParent {
    position: relative;
    background-color: var(--color-moccasin);
    width: 100%;
    height:100%;
    overflow: hidden;
    flex-direction: column;
    padding: 26px 153px;
    box-sizing: border-box;
    justify-content: flex-end;
    gap: 87px;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-plus-jakarta-sans);
    height:100%;
  }
  @media screen and (max-width: 960px) {
    .sp1Parent {
      flex-direction: column;
      gap: var(--gap-134xl);
      align-items: center;
      justify-content: flex-start;
    
      
    }
    .ourTeamParent{
      align-self: center;
    }
  
  }

  
  
  