@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-sansita-swashed: "Sansita Swashed";

  /* font sizes */
  --font-size-mini: 15px;


  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-moccasin: #fbdfaf;

  /* border radiuses */
  --br-xl: 20px;
}

